<div class="header">
  <div class="logo">
    <img src="../../../assets/logo.png" />
  </div>
  <div class="header-menu">
    <div class="header-menu__item" *ngFor="let item of menuItems">
      {{ item.label }}
    </div>
  </div>
  <div class="header-menu header-menu--right">
    <div class="header-menu__item">
      Login
    </div>
    <div class="header-menu__item button">
      Register
    </div>
  </div>
</div>
