@import "../../../assets/variables.scss";

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  padding: 35px 50px;
  width: 100%;

  > * {
    cursor: pointer;
  }

  img {
    width: 110px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    margin-left: 35px;
    flex-direction: row;

    &:last-child {
      margin-left: auto;
      margin-right: 100px;
    }

    .header-menu__item {
      display: flex;
      color: $theme-purple;
      font-size: $font-medium;
      padding: 0 24px;

      &.button {
        padding: 4px 12px;
        border: 1px solid $theme-purple;
        border-radius: 4px;
      }
    }
  }
}
