<div class="freight-form form box">
  <div class="form__element">
    <div class="form__origin">{{ originLabel }}</div>
    <div class="form__destination">{{ destinationLabel }}</div>
  </div>
  <div class="form__element">
    {{ date }}
  </div>
  <div class="form__element">
    {{ capacity }}
  </div>
  <div class="form__element">
    {{ quantity }}
  </div>
  <div class="form__submit">
    <i class="material-icons">
      keyboard_arrow_right
    </i>
  </div>
</div>
