@import "../../../assets/variables.scss";

.form {
    display: flex;
    align-items: center;
    width: 750px;
    margin: 0 auto;

    .form__element {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        padding: 20px;

        &:not(:first-child) {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }

        .form__origin, .form__destination {
            width: 150px;
            font-weight: 100;
            font-size: 14px;
        }
        
    }

    .form__submit {
        margin-left: auto;
        background: $theme-purple;
        padding: 24px;
        border-radius: 0 8px 8px 0;
        color: $theme-white;
    }
}