@import '../assets/variables.scss';

.heading--center {
    text-align: center;
    width: 500px;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    margin: 228px auto 40px;
    color: $theme-purple;
}
.graphic--bottom {
    position: fixed;
    bottom: 0;

    .graphic__boat {
        position: absolute;
        bottom: 60px;
        left: 145px;
        width: 54px;
    }
    .graphic__wave {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}