<app-header></app-header>
<div class="heading--center">Digital Freight Forwarder for modern day logistics</div>
<app-select-widget></app-select-widget>
<div class="graphic--bottom">
  <img class="graphic__boat" src="../assets/graphic-2.png"/>
  <img class="graphic__wave" src="../assets/graphic-1.png"/>
</div>
