/* You can add global styles to this file, and also import other style files */
@import './assets/variables.scss';
html,
body {
  height: 100%;
}
body, .mat-typography {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.box {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
  border: 0.5px solid rgba(0,0,0,0.05);
  border-radius: 8px;
}

